[2018-05-04 06:43] pahosler opened #2 "wiki"
create basic wiki page(s)

[2018-05-04 06:44] pahosler opened #3 "links"
add links to Readme.md for commando.js, discord.js, using glitch, etc

[2018-05-04 06:49] pahosler opened #4 "horoscope"
create a horoscope feature

[2018-05-04 06:56] pahosler opened #5 "Add cli prompt that accepts a token and generates url to add bot to server/guild"
needed: someone to research the ability to automate discord bot registration. This is NOT a priority, but simply a project to help fast track new devs. If automation isn't possible, then clear and easy to follow instructions with screenshots would be helpful.

[2018-05-04 07:01] pahosler opened #6 "simple website/blog"
this is a small group now, so this is a back burner issue, in other words I'm just seeding ideas for future projects.
Create a forward facing page describing our project and possibly bot development in general. We've already done some interesting things, let's talk about them!

[2018-05-04 07:29] glynnw commented on #5
I think it would be sufficient to just do the later. Clear instructions on how to create a bot account and add it to a server. Also we could streamline the token process by having a prompt on the cli ask for the token and store it for them. Additionally it could generate or spit out the url to add the bot to the server.

[2018-05-04 07:37] pahosler commented on #5
I like that!

[2018-05-04 07:46] pahosler opened #7 "Feature Requests"
Post feature requests in issues.
I've added a feature request label

[2018-05-04 07:46] #7 closed

[2018-05-04 07:50] pahosler opened #8 "How to: create bot account"
Clear instructions on how to create a bot account and add it to a server. Also streamline the token process by having a prompt on the cli ask for the token and store it in ".env". Optionally it should generate or spit out the url to add the bot to the server.

[2018-05-04 07:52] pahosler commented on #5
Closed: See How to: Create bot account

[2018-05-04 07:52] glynnw commented on #5
I'm reopening it and changing the title instead of creating a new issue.

[2018-05-04 07:53] glynnw commented on #5
Or nm you created a new issue already.

[2018-05-04 07:53] #5 closed

[2018-05-04 15:01] pahosler opened #9 "Magic 8 Ball"
"shake" the Magic 8 Ball and get a response to your life changing questions.

have options for
Classic Responses
Funny Responses
Sarcastic Responses
Mean "grumpy cat" Responses
Random Response from above responses

[2018-05-04 17:52] glynnw opened #10 "Remove personalizations"
Remove stuff like
https://github.com/campDevs/DiscordBot/blob/4beee3969bffa416f97dc09bf3c8f9aa6dc196ef/src/bot.js#L34

[2018-05-04 17:56] glynnw opened #11 "Move server specific features into a separate repo"
To make the bot more general purpose maybe we should move stuff that is specific to FCC and similar to another repo or something. What do you think?

[2018-05-04 18:00] glynnw opened #12 "Add a contributing section or document and linting"
We need to agree on how to go about contributions.

[2018-05-04 21:33] pahosler commented on #11
I'm not sure we'd have to do that, how about just a sub folder or a module naming convention for fcc related bots, like ufccBot-help-challenge.js

[2018-05-04 21:50] pahosler commented on #12
here's an idea, let's get someone to contribute something. I'll see if I can rewrite my horoscope to work with commando (I don't think it will take long) and submit a pull-request. Also maybe we should look at other's contrib readmes for details

[2018-05-05 00:27] glynnw opened #13 "Allow multiple bot owners"
Currently the bot doesn't allow but a single owner. We should allow multiple owner ids in the dotenv file or should we move that to a config file instead?

[2018-05-05 00:49] jdraiv commented on #13
I personally think that a configuration file would be cleaner and better.

[2018-05-05 01:11] glynnw commented on #13
The owner ids aren't secrets like the token so that is what I'm thinking.

[2018-05-05 01:13] glynnw commented on #11
Well if we want to generalize the bot and others come along then there will be features that make less sense for them.

[2018-05-05 01:15] glynnw commented on #12
I meant more along the lines of linting and style guidelines, workflow, and how we go about accepting pull requests. Also do we want merges or rebasing? Do we want to have a dev branch and leave master production ready? Stuff like that.

[2018-05-05 01:34] glynnw opened #14 "Add glitch import button to README.md"
We could add this [![Remix on Glitch](https://cdn.glitch.com/2703baf2-b643-4da7-ab91-7ee2a2d00b5b%2Fremix-button.svg)](https://glitch.com/edit/#!/import/github/https://github.com/campDevs/DiscordBot/) to the readme.

[2018-05-05 02:05] glynnw commented on #11
Well this could be something to consider later if flesh out a command plugin system or something. We could break the FCC stuff into a plugin or something.

[2018-05-05 03:19] jodylecompte opened #15 "PHPDoc Command"
I have ported over my command for loading documentation links from the documentation at PHP.net. They already have a robust search system in the URL where if a direct match is found, documentation is served up, and if not it shows a list of recommendations; this command mirrors that producing either a message with recommendations on no match found or an embed on match found.

Example is as follows

[2018-05-05 03:24] jodylecompte opened #16 "MDN command"
I have prototypal code for calling documentation from MDN and want to run it past everyody before coding up a final copy.

Currently since MDN does not expose an API that I am aware of, the code I've written already works by doing a google search for a keyword and/or phrase locke down to the MDN domain, and then returns the first result as an embed.

Is this satisfactory? If not, does anyone have

[2018-05-05 03:29] pahosler commented on #14
yes!

[2018-05-05 03:30] glynnw commented on #11
Closing and we can revisit it later if we want.

[2018-05-05 03:30] #11 closed

[2018-05-05 03:42] glynnw commented on #16
Sounds reasonable. :+1:

[2018-05-05 03:54] pahosler commented on #10
keep the Bender ascii, I like it! Set activity to something like
 bot.user.setActivity(`Serving ${bot.guilds.size} servers`)

[2018-05-05 07:58] glynnw commented on #10
We could also allow customization of that with a command or even a way for the user to specify.

[2018-05-05 14:58] pahosler opened #18 "Linux"
add a Linux command:
+Linux distros - list top 5 or 10 distros
+Linux get <distro> - will post a torrent magnet link
+Linux help <command> - post brief help
...<more possibilities for this>

[2018-05-05 18:43] jodylecompte commented on #16
Here is an example of the output:
![Screenshot](https://s17.postimg.cc/59jqwjkr3/Screenshot_from_2018-05-05_13-40-20.png)

[2018-05-05 19:49] jodylecompte opened #21 "Cat-us code"
Catuscode is a command I implemented around https://http.cat/ (a cat for every HTTP status code). The functionality is very simple, you use `catuscode 500` for example and it displays the following:
![500 Code](https://http.cat/500)

Part of me thinks it's a goofy feature, I implemented it because I was basically working down a list of free APIs to play with, but on the same, in the discord channe

[2018-05-05 19:50] jodylecompte commented on #21
We could also link to https://developer.mozilla.org/en-US/docs/Web/HTTP/Status for more in depth information on each code along with the cat picture.

[2018-05-05 20:27] glynnw commented on #21
Both seem like great ideas. :+1:

[2018-05-05 20:59] #16 closed

[2018-05-05 20:59] #15 closed

[2018-05-05 23:44] jodylecompte commented on #10
I agree Bender should stay, it suits the whole "We're gonna build our own bot, with blackjack!"

But this does pose an interesting question, what do we want to call it?

[2018-05-05 23:48] jodylecompte commented on #18
Regarding item 3,  I found this library that I think would be excellent
https://www.npmjs.com/package/tldr

I really like the idea of providing magnet links, Bittorrent is better for the maintainers (less bandwidth) and in cases of major distros like Ubuntu the torrent download is usually faster.

[2018-05-06 00:05] pahosler commented on #21
Love it!

[2018-05-06 00:05] jodylecompte opened #23 "Rollem / Rickroll"
Do we want to add rickroll? I don't have any personal feelings, but it was one of the staple functions of Camperbot along with 8ball that got used semi-regularly.

We could rate limit it to keep anyone from being (overly) annoying.

[2018-05-06 00:07] glynnw commented on #23
I've a roll command already in the bot but it is just a sketcy looking embed that links to the rick astley video. @Azbo400 I think is looking to make an improved version.

[2018-05-06 00:08] jodylecompte commented on #9
Here are the standards you would find on a real magic 8-ball:
[code]

Looking forward to Grumpy Cat versions.

[2018-05-06 00:13] pahosler commented on #9
I have that in my go bot (the standard list). Thank you for posting them here too. If I write or, or anyone else for that matter, I'd like it to implement flat file/json response data. That way anyone can add response files into a directory and 8ball can load them.

[2018-05-06 00:13] pahosler commented on #9
yeah, I think grumpy cat responses could be fun

[2018-05-06 02:35] glynnw opened #24 "Administrator commands"
We need adminstrative commands such as:
- [x] clearing/purging messages
- [x] banning w/ public reason message
- [x] kicking w/o message deleting
- [ ] ~softban (kick with messages deleted)~
- [x] mute
- [x] deafen
- [x] moving user to another voice channel

[2018-05-06 02:35] glynnw commented on #24
I'd like to claim these if that is fine with everyone and we want to add these features.

[2018-05-06 04:32] glynnw opened #25 "Add command that directs users to file issues here"
We should add a command to the bot to file issues and send them directly to a new issue. We should also make the command discoverable and the user aware it exists somehow. Maybe a message in the help command or such.

[2018-05-06 04:42] Azbo400 commented on #23
Yeah we could probably try to limit the amount of times someone calls it and control the embeds so it doesn't flood the chat.

[2018-05-06 04:46] Azbo400 opened #26 "Add Help Command"
I am thinking we should maybe add a help command to list all the commands you can give the bot as well as provide info on a specific command so someone can call it correctly. What do you guys think?

Examples can include:
`@bot help`
*lists commands*

`@bot help __________<---command here`
*lists info on command*

[2018-05-06 04:51] Azbo400 opened #27 "Add Brownie points/other points system"
I was wondering if you guys want to add some kind of brownie point system to credit users to help others with a thanks command. This point system doesn't really need to be brownie points but just some point/ranking system.

usage would probably be similar to `@user thanks` and then that users gets points.

[2018-05-06 04:56] Azbo400 opened #28 "Add a linter to make sure code is formatted properly."
I think we should add an eslint or some similar linter to make sure that everyone contributing to the project uses the proper design and to insure that all the code is clean and good and formatted to our preferences (no semicolons, spaces, etc.)

[2018-05-06 05:01] Azbo400 commented on #28
We should also add some file (contributing file, etc) that outlines the design style we want to prevent mistakes in pull requests.

[2018-05-06 06:32] glynnw commented on #26
There is a built in help command. Commando provides that for free.

[2018-05-06 06:34] glynnw commented on #27
:+1: Yeah we discussed that but we've not put it into an issue. We need to sort out the db first.

[2018-05-06 06:38] glynnw commented on #26
I'm closing as it already exists

[2018-05-06 06:38] #26 closed

[2018-05-06 06:39] glynnw commented on #28
This is a duplicate of #12 . Though I should probably edit the title of the issue to include linting.

[2018-05-06 06:41] glynnw commented on #23
Commando has built in rate limiting and is pretty straight forward so no worries there.

[2018-05-06 14:29] pahosler opened #29 "AutoMagical tiny URL"
Sometimes links we find and want to post in channel have a URL that is larger than the character limit in discord. Pass your long URLs to the bot, and it will send a discord friendly URL to the channel.

[2018-05-06 14:32] pahosler commented on #29
one problem, it is possible that discord blocks character length before sending anywhere, so this may not work

[2018-05-06 14:51] #28 closed

[2018-05-06 16:26] jodylecompte commented on #29
Links are definitely a bit of a pain point in general for Discord, I think. One example that comes to mind is I wanted to be able to change the text of a link, but apparently Discord does not allow this per their core team because it allows people to hide unsafe URLs and people might click them.

On Gitter, this would have made sense and we had multiple occasions I remember of fake URLs being post

[2018-05-06 16:31] jodylecompte commented on #27
MongoDB Atlas has a very generous free tier that we could potentially use short-term until the DB strategy / hosting is fully worked out.

[2018-05-06 16:33] jodylecompte commented on #6
How would y'all feel about a static site generator? Namely either Jekyll or Gatsby? I'd rather Gatsby personally, but people tend to be more familiar with Jekyll by means of Github pages.

[2018-05-06 16:41] Azbo400 commented on #23
Yep that should be pretty quick to add we just have to agree on the intervals (how much it could be called in a specific amount of time). I will assign myself to this for now.

[2018-05-06 16:44] Azbo400 commented on #6
I think a static site generator would be useful as it would be easy to set up and maintain. I also prefer Gatsby and React however I am fine if Jekyll is the way we go if people are more familiar with it shouldn't take me too long to learn it.

[2018-05-06 18:13] #21 closed

[2018-05-06 21:36] glynnw opened #30 "Provide a command to change the activity (playing game status) and a better default"
@pahosler mentioned changing the default status to show how many servers and such. We should also have a command to change it to something else.

[2018-05-06 21:38] glynnw opened #31 "Better bot name"
Lets try to list ideas for a bot name here and decide on a better name.

[2018-05-06 21:39] glynnw commented on #10
I created two new issues for the bot name and implementing a command w/ a better default activity.

[2018-05-06 22:31] pahosler commented on #25
the github API should make that easy enough, but what would keep people from just being bored and and sending a crap ton of issues via the bot?

I still like my idea of sending a PM to the module dev if the bot encounters an error. I don't think it would be as horrible in the scenario you described where someone might take an advantage of an error and send a bunch of PM's. I would announce publicl

[2018-05-06 22:32] pahosler commented on #25
oh maybe I misunderstood... just have a link the user can click on that brings them to the issue page. That would be better, yes

[2018-05-06 22:34] pahosler commented on #31
since this is West World night my first choice is...

Dolores

alternate choice

Campy

[2018-05-07 00:33] jdraiv commented on #31
I approve Campy 👍

[2018-05-07 00:35] Azbo400 commented on #31
+1 Campy

[2018-05-07 00:58] glynnw commented on #31
:+1: Dolores myself. Campy is too campy :P

[2018-05-07 01:00] glynnw commented on #31
Also remember that you can have the name be anything you want in the server. So we could name the bot DoloresBot and campy on the discord.

[2018-05-07 01:06] glynnw commented on #18
Yeah this is a cool idea and made me think of possibly adding the arch wiki as a place to search for help pertaining to a specific linux topic.

[2018-05-07 02:09] pahosler commented on #30
you could have some canned status messages and set custom messages
+status server-count
+status telling-jokes
+status /get brownie points now!/  (custom status)

[2018-05-07 02:36] jodylecompte opened #33 "snyk.io integration / badge"
Snyk is a vulnerability database and monitoring service we can integrate in to ensure that our 3rd party code remains free (as possible) from security vulnerabilities. There is also a badge we can add to the profile.

It's not completely free, but I believe the free tier is more than enough for what we would ever potentially need. It can also be integrated into the CI / CD if we end up setting tha

[2018-05-07 03:44] Azbo400 commented on #25
So maybe a command such as `issue` or something that can then give a message saying where the user can file an issue so the user can then click a link to submit a new issue?

For example:
`@bot issue`

bot:
`click here to file an issue *link*`
I can make that if so probably.

[2018-05-07 07:15] glynnw commented on #6
I'm down with any of those choices. But since the project is JS I lean towards Gatsby.

[2018-05-07 08:48] pahosler commented on #33
integrated into my github, thank you Jody!

[2018-05-07 18:42] jodylecompte commented on #33
@glynnw I'm not familar with how Github organizations work, is there a login specifically for the org that would need to be used? It doesn't show up as an option to add from my personal Github account.

[2018-05-07 22:12] pahosler commented on #33
I think it would just be attached to the creators account. Alternately, since (I assume everyone is forking <no pun intended>), ppl can self monitor with this. And since most, or some of us, might want to run this (snyk), we will see issues with security reported, if we are keeping up with the master repo, in our forked repo. At that point we can either post an issue or fix it ourselves.

[2018-05-07 22:32] pahosler opened #34 "@Devs - please read"
Let's start adding better titles to the issues. Maybe prefixes like:
@campDevs/discordbot
Important!
Feature
News
Bugs
etc.

This will help keep things organized and help with getting each other's attention.

Another nice thing would be acknowledging a posted issue. Especially if there is a title that mentions the group.

If you see an issue that you would like to tackle, assign yourself to it and

[2018-05-07 22:37] pahosler opened #35 "@Devs Add config.json to .gitignore and create a config.json template"
if you're like me, you've probably changed to command prefix so you can run your dev bot in a channel with other dev bots. We don't want to push a change to the production bot's config.json

[2018-05-07 22:59] glynnw commented on #35
:+1: However, the defaults probably should stay in version control as default.config.json or something then defer to the overrides in config.json. Or we could hard code it in in the bot if there is some upside to doing that. The goal is to keep the defaults from being strewn through out the bot and centralized.

[2018-05-07 23:04] pahosler commented on #35
just figured out you can't use .gitignore for this. It won't ignore files that are already tracked. I'm not sure of a workaround, yet.

[2018-05-07 23:10] pahosler commented on #35
I suppose for the time being, if you change the prefix in your fork, change it back to "+" before pushing your code to your fork, annoying but doable.

[2018-05-07 23:47] glynnw commented on #35
You can remove it. Just remove the file from the cache using `git rm --cached config.json`

[2018-05-08 00:33] glynnw commented on #6
I created campDevs/campDevs.github.io repo under the org. I think I'm going to close this issue and open one there to discuss the site generator.

[2018-05-08 00:33] #6 closed

[2018-05-08 00:36] glynnw commented on #6
Vote at campDevs/campDevs.github.io#1

[2018-05-08 02:31] Azbo400 commented on #23
Closed because it was added in pull request #32

[2018-05-08 02:32] #23 closed

[2018-05-08 03:29] Azbo400 commented on #35
Yeah I just changed it before I committed it, could we maybe make it so you put in your prefix the .env file and set a default if they don't?

[2018-05-11 00:57] glynnw opened #36 "Add .gitattribute that normalizes line endings"
In order to prevent issues with line endings we need to add a .gitattribute file to the repo and normalize the line endings.

[2018-05-19 01:21] jodylecompte opened #38 "PHPDoc Command Refactoring"
The PHPDoc command has some of its logic outside of the try catch. This needs to be refactored so the whole process is wrapped in the error handling.

Creating as a reminder for myself to clean this up.

[2018-05-19 17:12] Azbo400 commented on #31
Yeah I agree but I don't want too much confusion if their is seperate names between the GitHub and actual name

[2018-05-24 23:50] #4 closed

[2018-05-25 00:32] #38 closed

[2018-05-25 00:34] pahosler commented on #31
bitterButterBattleBot

[2018-05-25 01:26] #33 closed

[2018-05-27 19:36] pahosler commented on #9
Jody are you working on this one?

[2018-05-27 19:46] pahosler opened #44 "Cryptocurrency Tracker"
Display a list of, or a specific, cryptocurrency's current value in USD

[2018-05-30 18:29] glynnw commented on #34
Instead of having an open issue for this we should add something to contributing. Also instead of `@devs` use `@campDevs/discordbot` as it will tag the bot team. Also, the important!, feature, and etc - seem like labels.

[2018-05-30 18:43] glynnw commented on #3
I believe this has been covered in #37 apart for the glitch link which now exists in some form in #14 #45. So I'm going to close this issue.

[2018-05-30 18:43] #3 closed

[2018-05-30 19:01] glynnw commented on #31
Seems like it is going to be called campy. @campDevs/discordbot Any more suggestions?

[2018-05-30 19:39] pahosler commented on #31
maybe one more blind vote in #general chat with some decent names peppered into the mix?

[2018-06-04 03:13] pahosler opened #48 "tlab"

[2018-06-04 03:13] #48 closed

[2018-06-05 00:17] joker314 commented on #44
Taken.

[2018-06-05 01:19] Azbo400 commented on #34
I edited the tag so it notifies all the contributors. I can also go through and add this too the contributing section of the readme.

[2018-06-05 01:50] joker314 opened #49 "Code of conduct"
[good first issue] [help wanted] [needs-discussion]

It's crucial that software development is a safe and open environment. We should add a code of conduct, such as the [Contributor Covenant](https://www.contributor-covenant.org/).

Discuss!

[2018-06-05 03:16] #34 closed

[2018-06-05 04:32] glynnw opened #52 "List the features of the bot and the commands it contains"
We should list the commands available and the features the bot has for potential users to see without having to deploy the bot.

[2018-06-05 08:15] glynnw commented on #49
We need to establish an email for the COC before moving forward.

[2018-06-05 13:31] jodylecompte commented on #49
Because of our alignment to the unofficial FCC discord, we also need to take the existing code of conduct there into consideration as well similar to how FCC has a CoC that governs all sub projects.

[2018-06-06 01:06] Azbo400 commented on #12
Going to close this since I added the contributing section.

[2018-06-06 01:06] #12 closed

[2018-06-06 02:27] #35 closed

[2018-06-06 02:31] #36 closed

[2018-06-06 02:42] #13 closed

[2018-06-22 09:51] pahosler commented on #27
If no one else is claiming this I will take it.
About a DB...
commando uses sqlite, if you install it. You can use a different DB but that is not supported out of the box.

[2018-06-22 10:07] pahosler opened #55 "Vote/Poll Feature"
A voting feature that will allow you to set up a poll

poll should have a customizable heading
poll should have customizable options with a two option minimum and possibly a fixed max of 10
poll should be able to accept a time limit with a default time limit of 1 hour (or longer perhaps)
poll should be able to set a percentage of guild members to vote, which will make the time limit minimum 48 hou

[2018-06-22 17:28] Azbo400 commented on #27
If sqlite is built into commando and it makes the most logical sense to use it we can go with that. Especially if you guys are fimiliar with it.

[2018-06-22 21:07] joker314 commented on #55
So you DM the bot to vote? Or it deletes your message immediately?

[2018-06-23 01:08] pahosler commented on #52
would just pasting the commands and descriptions from the +help dm be acceptable?

[2018-06-23 02:58] jodylecompte opened #56 "FCC Challenge Function"
With the release of the new FCC curriculum and subdomain, it is fairly safe to assume our scraper based FCC challenge function is now broken.

[2018-06-23 03:03] glynnw commented on #56
Yeah well it isn't a very powerful command. You had to provide the actual link to the challenge and such. We could probably do better as well.

[2018-06-23 04:12] pahosler commented on #56
is there anything we could pull from their repo to make it easier? There are so many new challenges now, and additional sections with even more challenges. The Coding Interview Prep challenges alone have hundreds and hundreds of coding challenges.

[2018-06-24 09:11] pahosler opened #57 ".github folder"
we should add this
[freeCodeCamp example](https://github.com/freeCodeCamp/freeCodeCamp/tree/master/.github)

[2018-06-24 09:16] pahosler opened #58 "campDevs email account"
there needs to be an email account for this org
or
an individual needs to supply an email for a point of contact

this would be used for things like people needing to report issues or violations from the code of conduct
if we can set up a private email server we could all have personalized campDevs email as well

[2018-06-28 06:19] htjjen commented on #49
I would like to contribute. May I add some standards in CONTRIBUTING.md according to [Contributor Covenant](https://www.contributor-covenant.org/version/1/4/code-of-conduct.html)? If possible, I would like to make some minor changes to the write up as well.

@jodylecompte  mentioned about CoC of FCC. If anyone can send me the link to FCC CoC, I can try to incorporate their standards too.

I would

[2018-06-29 00:57] joker314 commented on #49
@htjjen That would be awesome! We've put the code of conduct on hold at the moment, simply because we are yet to find a good email address to use, but we'd love your help after that's sorted.

Your suggestions about fixing the link to the licence, as well as writing up a "Contributors" section, would be something that you could do straight away -- and would be really appreciated -- so feel free to

[2018-06-30 04:03] htjjen commented on #49
@joker314 Thank you for replying!  I've send a pull request for the license.  Please feel free to let me know if anything needs to be changed.

For "Contributors" section, is there anything specific you would like me to add, or just write a reference to the Contributor graph? I was think merging it to the "Contributing" section, such as "Check out our current contributors!" - any thoughts?

[2018-06-30 18:09] joker314 commented on #49
@htjjen Thank you so much for the pull request! I think that would be a wonderful idea -- how about "Thanks to [all of our contributors](https://example.com) for helping to develop this bot"

[2018-07-02 20:58] #24 closed

[2018-07-03 06:56] htjjen commented on #49
@joker314 @glynnw Thank you for your help!

[2018-07-04 21:21] jodylecompte opened #61 "Dice Roll Command"
Whether for legit table topping or just for lols, a dice roller should be added to the bot.

It should accept a string of dice and rolls in the following format: "1d6 2d20" where the first number is the number or rolls and the second is the number of sides on the dice.

Example:
+rollit 1d6 2d20

Example Output:
Roll Total: 30
1d6:  1
1d20: 12
1d20: 17

[2018-07-04 21:23] jodylecompte opened #62 "Pakt Free book command"
A command should be added that when called it scrapes the Pakt free book of the day site and does a better embed than the default when the URL is shared.

Example:
+paktfree

Example Output:
-Today's Free Book:
-Learning Python
--Learning Python has a dynamic and varied nature. With this book, it will take you all the way to creating a fully fledged application. Explore the essentials of programmi

[2018-07-05 01:22] pahosler commented on #61
I think Glen has a dice roller in another version of the bot. Maybe he could be persuaded to port it over?

[2018-07-05 05:39] glynnw commented on #61
I do. I think it was an earlier version of my JS bot too.

[2018-07-07 20:34] #10 closed

[2018-07-07 20:34] #31 closed

[2018-07-07 23:34] glynnw opened #65 "Remove config.json that was mistakenly added to version control"
Remove the config.json in the root of the project as it wasn't supposed to be added to version control. Simple task for someone who wants to make a first contribution.

[2018-07-07 23:49] pahosler commented on #49
CoC has been added to the wiki. Do we needed it as an md file in the main repo? If not I suggest closing this issue

[2018-07-08 02:16] pahosler commented on #52
This is also now in the wiki, do you want a link to the wiki for commands or also have them in the general Readme.md?

[2018-07-08 02:57] jodylecompte opened #67 "Remove Random Response to Bots"
Should we remove th feature to randomly respond to other bots? This feature won't do very much good for us as there aren't really any other bots; but what about other guilds?

[2018-07-08 02:59] jodylecompte commented on #29
@pahosler I wasn't able to find any more information on how we could potentially implement this. Do you have any ideas?

[2018-07-08 04:03] pahosler commented on #2
closed

[2018-07-08 04:03] #2 closed

[2018-07-08 04:04] pahosler commented on #67
I vote for removal.

[2018-07-08 04:39] #62 closed

[2018-07-08 04:55] glynnw commented on #67
Yeah I second (or third). The main point of keeping it was to demonstrate reactions and that you can still do things with vanilla discord.js.

[2018-07-08 05:16] joker314 commented on #67
At the current time, does it react to itself? We could make it not do that if it does--making the effects invisible to us but existant in other guilds.

[2018-07-08 05:20] pahosler commented on #8
do we want screen shots? or could someone maybe do a screen cast?

[2018-07-08 07:19] pahosler commented on #58
we will currently be using septimus98@gmail.com
issue closed

[2018-07-08 07:19] #58 closed

[2018-07-08 23:46] #49 closed

[2018-07-14 06:48] jodylecompte commented on #29
I'm going to go ahead and close this as a second look around did not reveal any way to work around this. If anyone has a theory or knows of a solution, we can re-open and discuss.

[2018-07-14 06:59] joker314 commented on #29
What do you mean? You just use a URL shortener? We could even make our own. You could send this in a DM:

[code]

[2018-07-14 07:05] joker314 commented on #29
To be honest, I prefer TinyURL, as it has an API: `http://tinyurl.com/api-create.php?url=http://yourdomain.com/with/a/very/long/url`. You feed the bot a URL in chunks, and it does it for you.

Sometimes, you want to embed a URL in a really long message. If that happens, when you DM the bot, it will fit in one message, which won't be too inconvenient! Thoughts?

[2018-07-14 17:38] jodylecompte commented on #29
@joker314 The goal wasn't just to provide a URL shortener but to work around the max URL length in Discord. So instead of getting an error from Discord, the bot would just post a short URL.

The problem is that in order for bot to be able to receive the message, Discord first has to be able to accept it. The only work around that occured to me was a webhook / form of sorts where we could share a l

[2018-07-15 04:36] #52 closed

[2018-07-17 03:12] #57 closed

[2018-07-29 15:46] joker314 commented on #8
Taken.

[2018-07-29 17:31] joker314 opened #77 "Pull Request template is broken"
# Overview

The pull request template, designed for making pull requests include all the correct information, is not correctly formatted

# 💡 What's wrong

The `Resolves XXXX` text should, in fact, have a hashtag: `Resolves #XXXX`

In addition, there is a missing HTML closing comment at the end of this line

[code]

This makes that subsection look a little hidden when the PR is submitted.

# 📖 Rel

[2018-07-29 17:33] joker314 commented on #77
Marking as urgent as new contributors might be confused about their pull requests -- and that's no good.

[2018-07-29 17:44] joker314 commented on #77
I'm taking this.

[2018-07-29 20:35] joker314 opened #79 "Do we need more labels?"
I have already added these labels:

- security
- i18n
- do not merge
- urgent

Do we, perhaps, want some of these?

- p1 "Priority-1, important"
- p2 "Priority-2, in need of prompt attention"
- p3 "Priority-3, can wait"

I mean, we could just use milestones.

In addition, we could add

- text

To mark issues purely about text.

Can anyone think of any other labels we could use (either for PRs, or

[2018-07-29 22:21] joker314 opened #80 "Add security.txt file"
# 🗺 Overview

Security is *really* important. We already have a contact email for code-of-conduct violations. We're now using it for security vulnerability reporting too, I guess. Now, we need to add this email to a standardised file so that tools that security researchers might use can pick up on it (also, so that security researchers who are looking can easily find this contact email)

# 📚 Descr

[2018-07-29 22:43] beatriceo commented on #80
Hi, I'd like to take care of this issue! (This would be my first contribution)

[2018-07-29 22:44] joker314 commented on #80
@beatriceo Go ahead! If you need any help, please feel free to ask.

[2018-07-29 22:58] beatriceo commented on #80
Hi, it seems that I don't have access.

<img width="656" alt="screen shot 2018-07-29 at 11 56 30 pm" src="https://user-images.githubusercontent.com/31216493/43371496-249f8dbe-938b-11e8-95df-bece1b4d5b20.png">

[2018-07-29 23:03] joker314 commented on #80
@beatriceo That's right! You need to push to your fork (https://github.com/beatriceo/DiscordBot)

Try

[code]

Then, you may run the `git push` command to push this to your fork.

After that, you'll need to go to the GitHub online interface in order to create a pull request. 🙂

[2018-07-29 23:03] Azbo400 commented on #80
@beatriceo You cannot push directly to the repo, you are required to fork the repository and then push your changes in a new branch then open a pull request comparing the forked branch to the actual repo that we will than merge if it is approved.

Here is some links to fork the repo and open a pull request:
https://blog.scottlowe.org/2015/01/27/using-fork-branch-git-workflow/
https://help.github.c

[2018-07-30 06:17] glynnw commented on #80
@beatriceo Thanks for the contribution!

[2018-07-30 06:17] #80 closed

[2018-07-30 06:44] pahosler commented on #44
@joker314 are you still working on this one?

[2018-07-30 06:52] #8 closed

[2018-07-30 10:36] joker314 commented on #44
@pahosler Nope, not anymore.

[2018-07-30 19:50] joker314 opened #82 ""good first issue" brainstorm needed"
We need to come up with issues that those who are new to open source may find accessible. In particular, certain events, such as "Hacktoberfest", encourage users to make pull requests to FOSS.

Does anyone have any ideas? Perhaps easy-to-add commands? Or, perhaps textual changes to documentation (personally, that's a 👎 idea from me because it doesn't immerse users into FOSS as much (albeit such ch

[2018-07-30 20:10] joker314 commented on #82
Proposing #9 for good-first-issue?

[2018-07-30 20:11] pahosler commented on #82
In response to "how to make commands", we could create a command-template.js or several versions of it that do specific types of things. Like multi level or single level commands, for example. Basically a template or skel file might be very helpful.

[2018-07-30 20:14] joker314 commented on #82
Yep, that works. We could link to this in every good-first-issue that requires adding a command, as well as at the beginning of the CONTRIBUTING file.

Let's make a directory "commando-examples" to do this.

Do you wish to work on this?

[2018-07-30 23:43] joker314 opened #83 "Add self-assignable pronoun roles"
# 🗺 Overview

This is a `good first issue`. It's been specially made for newer contributors to open source; or new contributors to this repository, to start out.

You'll want to be familiar with the popular chat platform [Discord](https://discordapp.com) -- and create a server there to test your bot. Then, you can create a bot, bot token, invitation link, and fill in the environment file, by follo

[2018-07-30 23:57] joker314 commented on #9
I'd love to work on this if you don't mind, btw? Either way, work on branch `feature/command-8ball` and push and pull changes as soon as you commit.

[2018-07-31 00:27] jdraiv commented on #44
I will work on this. Taken

[2018-07-31 08:44] joker314 commented on #55
Taken!

[2018-07-31 08:47] joker314 commented on #79
The use of "Feature Request" AND "feature" is a bit meh. ⚡️ For purge "Feature Request", 💯 For purge "feature", 👎 for Don't Purge.

[2018-08-04 02:53] #25 closed

[2018-08-04 02:54] #77 closed

[2018-08-07 06:01] joker314 commented on #83
Due to inactivity, bumping this to "Help Wanted", so anyone can contribute. In 7 days, this will become a standard issue for the regular development team to take.

[2018-08-07 06:05] joker314 opened #85 "Create example command files to help newer developers"
Per suggestion in #82, document what Commando command definitions look like; and a step-by-step guide to making a command.

[2018-08-07 06:06] joker314 commented on #82
I see no substantial additions, let's track @pahosler's suggestion in #85

[2018-08-07 06:06] #82 closed

[2018-08-12 21:52] jdraiv commented on #44
This will be the following commands:

| Command  | Action |
| ------------- | ------------- |
| `convert <base> <target>`  | Base to target  |
| `price <base>`   | Base to USD|
| `exchange <base: amount><target>`   | Exchange base to target|

Suggestions are welcome 😄

[2018-08-13 07:37] joker314 commented on #44
@jdraiv Looking good -- but I'm a little confused about the `exchange` command syntax, could you give an example of that command?

[2018-09-04 20:12] #9 closed

[2018-09-04 20:55] #65 closed

[2018-09-08 14:27] joker314 opened #87 "Bot failing"
**Update**: the current theory is listed below

<hr>

Needs investigation. Reported by @Septimus via Discord.

Marking as "urgent" because it is crashing the bot.

<hr>

This appears to be the faulty line:
https://github.com/campDevs/DiscordBot/blob/6d2dcb0773c3e626e318191a3f505dc80fcf14fd/src/bot.js#L65

<hr>

Based on the error message, we know that

- `guild.channels` exists
- `guid.channels.ex

[2018-09-08 15:05] joker314 commented on #87
Clearly, there's a malformed `guid` object. It's true that `.exists` is currently deprecated. However, it does appear to still exist. We should file a non-urgent issue to migrate away from this later.

To find this malformed `guild` object, we should take a look at how each event will respond, both in a server and in a DM.

- [ ] `guildMemberRemove`
- [ ] `guildBanRemove`
- [ ] `guildBanAdd`

[2018-09-08 15:31] joker314 commented on #87
All looked okay. However, it's recommended to test `guild.available` before assuming their data is intact:

Could this be the issue?

[2018-09-08 15:48] joker314 opened #88 "Migrate away from Collection.exists"
[`Collection.exists`](https://discord.js.org/#/docs/main/stable/class/Collection?scrollTo=exists) is deprecated. It's [implemented](https://github.com/discordjs/discord.js/blob/stable/src/util/Collection.js#L258-L260) as follows:

[code]

We just need to replace `.exists` with `.find`, and coerce it to a boolean if that isn't done automatically because of implicit type casting.

[2018-09-08 18:33] joker314 commented on #87
An update to the current hypothesis has been made. It is available in the first comment of this issue, as well as here.

<hr>

`Collection#exists` was removed in `master` but remains in `stable`. The hypothesis is that the resolution of #88 will resolve this issue; because an unstable version is currently being used when attempting to run.

[2018-09-08 19:17] glynnw opened #89 "Change from tracking master in package.json for Discord.js and Commando.js"
Currently we're tracking the master branches of Discord.js and Commando.js. We should pin the versions and prevent issues like #87 #88 from happening unexpectedly.

[2018-09-08 20:48] joker314 opened #91 "Ensure that transparency is enabled before searching for an audit channel"
This issue is migrated from discussions in Discord
/cc @glynnw

<hr>

We're searching for the audit channel before checking if audit transparency is enabled. This has two flaws:
  - when the value is not provided, it errors despite never needing to perform the search
  - this is inefficient

We could take advantage of `&&` short-circuiting, but this would require an assignment to stay efficient. A

[2018-09-09 10:03] joker314 commented on #83
This has been open for public contribution for a while. Anyone object if I take this?

[2018-09-09 10:07] glynnw commented on #83
As long as you don't find yourself needing a DB just yet then sure why not?

[2018-09-09 21:40] #87 closed

[2018-09-09 21:40] #88 closed

[2018-09-09 21:41] #89 closed

[2018-09-12 14:29] rricheydev opened #94 "Clarify contributing.md"
## Summary

Identify issues and propose solutions toward clarifying contributing.md to help new users successfully install and use this project.

## Issues

* `.env` does not require `OWNER_ID=<Bot owner id>` and currently will not work if the bot owner id is used there
* `config.json` does not already exist in project root, leading to confusion about adding an owners property to "the config file"

[2018-09-12 18:44] joker314 commented on #29
Indeed. The maximum length for embeds (iirc) is longer than that of regular messages. Hence, we could do a

[code]

(w/ ~1m timeouts)

The bot would then post an embed containing the concatenated link, as well as the user ID of the person who made the request. The bot would verify that the user is not muted before processing the request.

Thoughts?

[2018-09-12 20:06] #94 closed

[2018-09-12 21:04] pahosler commented on #61
is there an issue with this PR? Is it ready to merge?

[2018-09-12 23:28] glynnw commented on #61
The pr was closed because and discussed that the basic dice roll wasn't the desired command. I've got part of the new command implemented but I haven't revisited it. I can do that soon. Perhaps this weekend though and get it added. It is just waiting on me to finish a few bits of the standard on dice that @jodylecompte was describing.

[2018-09-13 19:46] glynnw opened #96 "CLI that walks user through config and link generation"
We should consider making a cli that populates the config with values; walks users through obtaining a token and ids for the bot; and generates the link to add the bot.

[2018-09-15 12:50] joker314 commented on #96
I'm working on the CLI. I'm making the decision to change defaults.json like this:

[code]

So, instead of a string, a Boolean is used. Looking through `bot.js`, it looks like `"false"` would've been considered `true` anyway.

[2018-09-17 22:29] rricheydev opened #99 "Remove dependency cheerio.js from FCCCommand.js"
cheerio.js is no longer being used in FCCCommand.js. This would be a good first time contribution for someone to submit a PR with `const cheerio = require('cheerio')` deleted.

Complete file path: `src/commands/scrapers/FCCCommand.js`

[2018-09-18 18:41] adityaparab commented on #55
@joker314 Mind if I take this up?
I have better idea about this. I have seen similar concepts like this implemented on the servers elsewhere.
The idea is each role will be represented by an emoji. If the user clicks on the emoji (aka reacts with that emoji) that corresponding role will be assigned to the user.
Advantage of this approach is that everyone gets to see what role has been opted for by

[2018-09-18 18:43] adityaparab commented on #27
I'm on it!

[2018-09-18 19:35] adityaparab opened #100 "Validate bot environment prestart"
Currently if the `.env` file is not correct (either it doesn't exist or doesn't have correct token) the start command fails with stack trace.

I don't want new contributors getting discouraged because of this as one of the biggest quality of software that actually succeeds is ease to get started and easy of debugging errors.

What needs to be done?
Implement a `prestart` hook
Add a new JS file tha

[2018-09-18 20:07] joker314 commented on #55
Hmm, I think that's a good idea. Other team members may have differing thoughts, though.

[2018-09-18 20:51] glynnw opened #102 "Replace use of colors with chalk package"
Replace the use of [colors](https://www.npmjs.com/package/colors) with [chalk](https://www.npmjs.com/package/chalk) for colored logging to the terminal. Chalk is more popular and maintained as well as having more control over color. The use of colors package is limited to `DiscordBot/src/utils/logging.js`. Since the logging util is used in various places in the bot, you'll need to maintain the API

[2018-09-18 22:01] adityaparab opened #103 "integrate linter and lint fix support"
Title says it all

[2018-09-18 22:59] glynnw opened #104 "Change the description on the readme so that it is clear the bot is general purpose"
The description on the `README.md` would have someone believe the bot is only intended for the UFCC discord and not general purpose. I'm proposing we change the wording so that it instead says something like "in use on UFCC discord" instead "for UFCC's discord". Maybe even state specifically that it is general purpose.

[2018-10-02 19:50] joker314 commented on #30
I'll work on this one.

[code]

However, what permission level should somebody have in order to use the command? Manage bots?

[2018-10-03 23:02] #99 closed

[2018-10-06 00:12] Azbo400 commented on #104
I can look into this. I can change up the wording so it makes it clear that it is general purpose and could be used for any chat room, and it is use on the FCC chat in specific.

[2018-10-06 15:18] Azbo400 commented on #104
Fixed up everything in the pull request so I closed it

[2018-10-06 15:18] #104 closed

[2018-10-11 01:38] Azbo400 opened #111 "Add all-contributers to README"
We need to add all-contributors to the readme to recognize everyone who has contributed to this project. I am currently taking this up if that is fine.

[2018-12-17 17:21] jrmcintyre opened #113 "A embed that displays the stats for the bot"
Would show the amount of servers the bot is on, total amount of people, the bot up-time, how many channels it has access to and technical info for developers (RAM usage, NodeJS version etc.)

As this is my first time contribution to open source I would like to work on this feature

[2018-12-18 00:31] pahosler commented on #103
@adityaparab since there is little interest for months now, I vote to move forward with this.

[2018-12-18 00:36] pahosler opened #114 "Let's work on this again"
Let's work on this bot again. Forget ufcc as a launch option. We can build something decent and then promote it, and try to get it going in other servers

[2018-12-19 07:22] jrmcintyre commented on #113
Thanks @pahosler but unfortuently I don't know much discord.js-commando so I am unable to work on this project

[2018-12-20 14:51] adityaparab commented on #103
@pahosler : All yours....

[2018-12-20 22:08] #103 closed

[2018-12-20 22:10] #114 closed

[2018-12-20 23:09] #30 closed

[2019-06-08 23:29] #83 closed

[2020-05-19 06:50] LiamTownsley commented on #102
Here's some code I used for colours in my old bot:
[code]

Horrible formatting, but this code is very old, with a little editing it could be much easier to use, removing the need for chalk.

[2021-06-21 01:29] ccsdscs opened #140 "Hack casino"